= form_for @skill_topic do |f|
  - if @skill_topic.errors.any?
    #error_explanation
      %h2= "#{pluralize(@skill_topic.errors.count, "error")} prohibited this skill_topic from being saved:"
      %ul
        - @skill_topic.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
